.createModal {
  min-width: 350px;
  max-width: 450px;
}

.topContainer {
  display: flex;
  padding: 10px 15px 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.writeText {
  font-size: 14px;
  font-weight: 700;
}

.inputField {
  outline: none;
  resize: none;
  padding-top: 10px;
  padding-left: 15px;
}

.imgField {
  display: none;
}

.imgText {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: #999999;
}