.userGarden {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.shareContainer {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75px;
}

.growRecord {
  font-weight: 700;
  color: black;
}

.currentBox {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.habitBox {
  width: 100%;
  background-color: #ebfaef;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.habitText {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.habitContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.navContainer {
  width: 100%;
}
