.closeImg {
  position: absolute;
  top: 21px;
  right: 20px;
}

.completeText {
  margin-top: 85px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: black;
}

.plantImg {
  display: block;
  margin: 0 auto;
  margin-top: 27px;
}

.supportText {
  margin-top: 78px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: black;
}
