.createBox {
  width: 166px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;

  /* @media (max-width: 390px) {
    width: 150px;
    height: 190px;
  } */
}